.header{
    grid-area: 1 / 1 / 2 / 11;
    background-image: url("/assets/img/background-header.webp");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vw 2vw;
  }
  .header__left{
    display: flex;
    gap: 0.5rem;
  }
  .header__left_title_link{
    text-decoration: none;
    padding: 8px 16px;
    background-color: rgba(230, 55, 55, 0.6);
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s;    
  }
  .header__left_title_link:hover{
    background-color: rgba(230, 55, 55, 0.9);
  }
  .header__right{
    display: flex;
    gap: 0.5rem;
  }
  .header__right_div{
    display: flex;
    gap: 0.5rem;
  }
  .header__right_div_signbtn {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 0.5rem;
    padding: 8px 16px;
    background-color: rgba(230, 55, 55, 0.6);
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s;    
  }
  .header__right_div_signbtn:hover{
    background-color: rgba(230, 55, 55, 0.9);

  }