.divHeart {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 1);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  z-index: 1;
  padding: 2px;
  &_button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: none;
    padding: 5px;
    &::before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      background: linear-gradient(45deg, red, blue, deeppink, blue, red, deeppink, blue);
      background-size: 800%;
      border-radius: 50%;
      filter: blur(8px);
      animation: glowing 20s linear infinite;
    }
    svg {
      width: 80%;
      height: 80%;
      z-index: 1;
      path {
        width: 80%;
        color: rgba(210, 55, 55, 0.7);
        
        z-index: 1;
        transition: all 0.3s ease-in-out;
      }
    }
    &:hover svg path {
      color: rgba(210, 55, 55, 1);
    }
  }
  @keyframes glowing{
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
}
